@import url('https://fonts.googleapis.com/css2?family=Hind:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background: linear-gradient(45deg, #457dc7, #0087c5, #0ea89d, #ffc000) fixed;
    background-size: 200%;
    animation: animate 5s ease infinite;
    font-size: 20px;
    font-family: "Hind", sand-serif;
    font-weight: 900;
    color: whitesmoke;
}

/* Animated gradient background */
@keyframes animate {
    0%{background-position: 0% 50%}
    50%{background-position: 100% 50%}
    100%{background-position: 0% 50%}
}

.logo {
    padding-top: 2em;
    padding-bottom: 0.8em;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.guess-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* Style the letter behind placeholder symbols */
.progress {
    color: #ffc000;
    font-size: 2em;
    font-family: "Bungee Shade", cursive;
    letter-spacing: 10px;
    margin: 0.75em;
}

/* Display every letter after each input in a horizontal list */
.guessed-letters {
    color: #ffe5b4;
    padding: 0;
    list-style: none;
    font-family: "Hind", sand-serif;
}

.guessed-letters li {
    display: inline-block;
    padding: 0 0.2em;
}

.guess-form label {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 0.5em;
}

/* Highlight winning message */
.highlight {
    color: whitesmoke;
    font-size: 1.15em;
    font-family: "Hind", sand-serif;
    box-shadow: rgba(255, 215, 0) 0px 0px 0px 3px;
    padding: 0.5em;
}

/* Display squared box for input */
input {
    width: 2.25em;
    text-align: center;
    font-size: 1em;
    margin: 0.5em;
    padding: 0.5em;
    outline: 2px solid #ffc000;;
    color: #34A65E;
    text-transform: uppercase;
}

input:active,
input:focus {
    outline: 4px solid #ffc000;
}

/* Display guess button */
.guess-btn {
    margin: 1em;
    padding: 1.25em 3em 1em 3em;
    background-color: #ffc000;
    border-radius: 50px;
    border-style: none;
    color: #34A65E;
    font-size: 1em;
    cursor: pointer;
    font-family: "Luckiest Guy", cursive;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.guess-btn:active,
.guess-btn:focus,
.guess-btn:hover {
    transform: scale(0.95);
} 

/* Class to both display and hide buttons and messages */
.hide {
    display: none;
}

/* Display restart button */
.restart-btn {
    margin: 1em;
    padding: 1.25em 3em 1em 3em;
    background-color: #ffc000;
    border-radius: 50px;
    border-style: none;
    color: #34A65E;
    font-size: 1em;
    cursor: pointer;
    font-family: "Luckiest Guy", cursive;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.restart-btn:active,
.restart-btn:focus,
.restart-btn:hover {
    transform: scale(0.95);
} 

/* Emphasize some hints in messages */
.emphasize {
    color: #ffc000;
    text-transform: uppercase;
}

/* Display winning gif image */
.congrats {
    width: 50%;
    margin: 1em;
}

/* Display losing gif image */
.retry {
    width: 30%;
    margin: 1em;
}

/* Responsive layout for tablet devices from 950px down */
@media screen and (max-width: 950px) {
    .progress {
        font-size: 1.5em;
    }

    body {
        font-size: 18px;
    }
}

/* Responsive layout for smartphone devices from 600px down */
@media screen and (max-width: 600px) {
    .progress {
        font-size: 1.3em;
    }

    body {
        font-size: 16px;
    }
}