* {
    box-sizing: border-box;
}

body {
    background-color: #9F2B68;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-image: url('images/triangle.png');
    background-repeat: no-repeat;
    font-size: 25px;
    color: #fafafa;
}

.logo {
    padding-top: 2em;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.guess-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.progress {
    color: #ffd700;
    font-size: 40px;
}

.guessed-letters {
    color: #fafafa;
    list-style: none;
}

.guessed-letters li {
    display: inline;
}

.guess-form label {
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 1em;
}

input {
    width: 2.25em;
    text-align: center;
    font-size: 1em;
    padding: 0.5em;
    outline: 2px solid #ffbf00;
    border-radius: 50%;
    color: #9f2b68;
}

input:active,
input:focus {
    outline: 4px solid #ffbf00;
}

.guess-btn {
    margin: 1em;
    padding: 1em 3em;
    background-color: #ffbf00;
    border-radius: 50px;
    border-style: none;
    color: #9f2b68;
    font-size: 0.7em;
    cursor: pointer;
    font-weight: 900;
}

.guess-btn:active,
.guess-btn:focus,
.guess-btn:hover {
    transform: scale(0.95);
} 

.hide {
    display: none;
}

.restart-btn {
    margin: 1em;
    padding: 1em 3em;
    background-color: #ffbf00;
    border-radius: 50px;
    border-style: none;
    color: #9f2b68;
    font-size: 0.7em;
    cursor: pointer;
    font-weight: 900;
}

.restart-btn:active,
.restart-btn:focus,
.restart-btn:hover {
    transform: scale(0.95);
} 

.progress {
    letter-spacing: 7px;
}